* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #101010;
    color: #d9d9d9;
    font: 1rem Inter, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 8px;
  transition: .2s;
}

::-webkit-scrollbar-thumb:active {
  background: #131313;
}
